.sinle-job-wrapper
  display: flex
  flex-direction: column
  width: 50%
  margin: 0 auto
  font-family: "Roboto", "Helvetica", "Arial", sans-serif


  .button-wrapper
    display: flex
    margin-top: 20px
    align-items: center
    
    .link
      margin-right: 20px
      text-decoration: inherit
      color: inherit
      cursor: auto
    .delete
      background-color: tomato
      color: white